/* login.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding-top: 50px;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-horizontal {
    max-width: 400px;
    margin: 0 auto;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 173px;
}

.form-group {
    margin-bottom: 15px;
}

.control-label {
    font-weight: bold;
}

.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-check-inline {
    margin-right: 10px;
}

.text-danger {
    color: #a94442;
}

.btn-primary {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .btn-primary:hover {
        background-color: #0056b3;
    }

.btn-link {
    padding-left: 0;
    color: #007bff;
    text-decoration: none;
}

    .btn-link:hover {
        text-decoration: underline;
    }

.btn-secondary {
    display: block;
    margin: 20px auto;
    padding: 10px;
    background-color: #6c757d;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

    .btn-secondary:hover {
        background-color: #5a6268;
    }
